button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}

.step,
.count {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 1rem;
}